@font-face {
    font-family: "Cygnito Mono";
    src: url("/static/fonts/CygnitoMono.woff") format('woff'),
         url("/static/fonts/CygnitoMono.woff2") format('woff2');
}

@font-face {
    font-family: "Noto Sans Mono";
    src: url("/static/fonts/NotoSansMono.woff") format('woff'),
         url("/static/fonts/NotoSansMono.woff2") format('woff2');
}

:root {
    --border-color: #D1D9E6;
    --shadow-dark-color: #D1D9E6;
    --shadow-light-color: #FFFFFF;
    --main-background-color: #FAF9F6;
    --form-background-color: #F7F6F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Noto Sans Mono;
    background-color: var(--main-background-color);
}

/* Centrar elementos de manera horizontal y vertical */
body, #form_reset, .input_icon, .input_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form_reset {
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--form-background-color);
    box-shadow: 6px 6px 12px var(--shadow-dark-color), -6px -6px 12px var(--shadow-light-color);
}

.form_header {
    margin-bottom: 15px;
}

.form_header h3 {
    font-weight: normal;
}

.input_group {
    margin-bottom: 20px;
}

.input_icon {
    width: 30px;
    height: 30px;
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--border-color);
}

.input_data {
    width: 220px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    border-radius: 0 4px 4px 0;
    background-color: transparent;
    border: 1px solid var(--border-color);
    box-shadow: inset 2px 2px 4px var(--shadow-dark-color), inset -3px -3px 7px var(--shadow-light-color);
}

.input_data:focus {
    box-shadow: inset 3px 3px 3px var(--shadow-dark-color), inset -3px -3px 8px var(--shadow-light-color);
}

.form_btn {
    width: 250px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    border: 0.2px solid var(--border-color);
    box-shadow: 3px 3px 6px var(--shadow-dark-color), -3px -3px 6px var(--shadow-light-color);
}

.form_btn:hover {
    box-shadow: inset 2px 2px 5px var(--shadow-dark-color), inset -3px -3px 7px var(--shadow-light-color);
}