@font-face {
    font-family: "Cygnito Mono";
    src: url("/static/fonts/CygnitoMono.woff");
}

@font-face {
    font-family: "Noto Sans Mono";
    src: url("/static/fonts/NotoSansMono.woff");
}

:root {
    --border-color: #D1D9E6;
    --shadow-dark-color: #D1D9E6;
    --shadow-light-color: #FFFFFF;
    --main-background-color: #FAF9F6;
    --form-background-color: #F7F6F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: Noto Sans Mono;
    background-color: var(--main-background-color);
}

#data_configuration {
    width: 100%;
    display: flex;
    margin-top: 80px;
    overflow-y: scroll;
    margin-bottom: 60px;
    align-items: center;
    flex-direction: column;
}

section {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_title {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    line-height: 80px;
}

.rows_accordion {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.show_data:hover {
    background-color: rgba(38,40,51,.03);
}

.show_data {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.data_field {
    width: 200px;
    font-size: 14px;
}

.data_value {
    width: 250px;
}

.expandable {
    overflow: hidden;
    transition: all .5s ease-in-out;
    height: 0px;
    padding: 0 1em;
}
   
.expandable:target {
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

/* Estilos para campos de entrada */
.input_data {
    width: 200px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    box-shadow: inset 2px 2px 4px var(--shadow-dark-color), inset -3px -3px 7px var(--shadow-light-color);
}

.input_data:focus {
    box-shadow: inset 3px 3px 3px var(--shadow-dark-color), inset -3px -3px 8px var(--shadow-light-color);
}

.input_errors {
    width: 252px;
    height: 20px;
    font-size: 11.5px;
    justify-content: right;
}

.input_errors li {
    list-style: none;
}

/* Estilos para botón de formulario */
.btn_content {
    display: flex;
    justify-content: space-between;
}

.form_btn {
    width: 120px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Noto Sans Mono;
    background-color: transparent;
    border: 0.2px solid var(--border-color);
    box-shadow: 3px 3px 6px var(--shadow-dark-color), -3px -3px 6px var(--shadow-light-color);
}

.form_btn:hover {
    box-shadow: inset 2px 2px 5px var(--shadow-dark-color), inset -3px -3px 7px var(--shadow-light-color);
}

#new_password {
    margin-bottom: 20px;
}

.data_message {
    font-size: 13px;
    text-align: center;
    margin-top: 8px;
}

.data_link {
    font-weight: bold;
}

.data_link:hover {
    cursor: pointer;
    text-decoration: underline;
}