<div id="forgot_password" class="modal">
    <div class="modal_content">
        <div class="modal_header">
            <a href="">x</a>
        </div>
        <div class="modal_body">
            <form action="" method="POST" id="forgot_password">
                {% csrf_token %}
                <h3>¿Olvidaste tu contraseña?</h3>
                <p>Escribe tu correo electrónico y te mandaremos un enlace para cambiar tu contraseña.</p>
                {% for field in forgot_form %}
                    <div class="input_group">
                        <div class="input_icon"><i class="fa-solid fa-envelope"></i></div>
                        {{ field }}
                    </div>
                    <div class="input_errors">
                        {% if field.errors %}
                            <style>
                                #forgot_password .input_group {
                                    border-color: #BB2205;
                                }
                            </style>
                            {{ field.errors }}
                        {% elif forgot_form.is_valid %}
                            <li>¡Listo! Por favor, revisa tu correo.</li>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="form_btn" name="save_email">Cambiar contraseña</button>
            </form>
        </div>
    </div>
</div>