<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/history.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer_marquee.css' %}">
    <!-- Íconos -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <script src="https://kit.fontawesome.com/c01c9a85f3.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>TME_001</title>
</head>
<body>
    {% include 'fixed_elements/header_nav.html' %}
    
    <main>
        <h2 class="main_title">Historial de usuario</h2>
        <div class="main_table">
            <div class="table_header">
                <div class="field" id="song_title">
                    <span>Título</span>
                </div>
                <div class="field" id="artist_name">
                    <span>Artista</span>
                </div>
                <div class="field" id="album_name">
                    <span>Álbum</span>
                </div>
                <div class="field" id="timestamp">
                    <span>Fecha</span>
                </div>
            </div>
            <div class="table_body">
                <div class = "song_title_field">
                    {% for key, value in user_history.song_title.items %}
                        <p class="tabla_data_value">{{ value }}</p>
                    {% endfor %}
                </div>
                <div class = "artist_name_field">
                    {% for key, value in user_history.artist_name.items %}
                        <p class="tabla_data_value">{{ value }}</p>
                    {% endfor %}
                </div>
                <div class = "album_name_field">
                    {% for key, value in user_history.album_name.items %}
                        <p class="tabla_data_value">{{ value }}</p>
                    {% endfor %}
                </div>
                <div class = "timestamp_field" style="font-size: 13px">
                    {% for key, value in user_history.timestamp.items %}
                        <p class="tabla_data_value">{{ value }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    {% include 'fixed_elements/footer_marquee.html' %}
</body>
</html>