<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/landing_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header_nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer_marquee.css' %}">
    <!-- Íconos -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <script src="https://kit.fontawesome.com/c01c9a85f3.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>TME_001</title>
</head>
<body>
    <main>
        <a href="{% url 'frontend:login' %}"><img src="{% static 'img/logo.png' %}" width="357px" height="269px"></a>
    </main>
    {% include 'fixed_elements/footer_marquee.html' %}
</body>
</html>