<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/reset_password.css' %}">
    <!-- Íconos -->
    <script src="https://kit.fontawesome.com/c01c9a85f3.js" crossorigin="anonymous"></script>
    <title>Restablece tu contraseña</title>
</head>
<body>
    <form action="" method="post" id="form_reset">
        <div class="form_header">
            <h3>Establecer nueva contraseña</h3>
        </div>
        <div class="form_body">
            <div class="input_group">
                <div class="input_icon"><i class="fa-solid fa-key"></i></div>
                <input type="password" class="input_data" placeholder="Nueva contraseña">
            </div>
            <div class="input_group">
                <div class="input_icon"><i class="fa-solid fa-key"></i></div>
                <input type="password" class="input_data" placeholder="Contraseña">
            </div>
        </div>
        <button type="submit" class="form_btn">Cambiar contraseña</button>
    </form>
</body>
</html>